.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App .ant-layout {
  background: #fff;
}

.App .ant-btn-primary {
  background-color: #0B00E0;
  border-color: #0B00E0;
}

.App a.ant-typography, .App  .ant-typography a,
.App a.ant-typography:active, .App .ant-typography a:active,
.App a.ant-typography:hover, .App .ant-typography a:hover,
.App a.ant-typography:focus, .App .ant-typography a:focus,
.App a.ant-typography:hover, .App .ant-menu-item a:hover,
.App a.ant-typography:focus, .App .ant-typography a:focus,
.App a.ant-typography:hover, .App .ant-typography a:hover,
.App span a:hover, .App a.nav-text, .App a:hover{
  color: #0B00E0;
}

body a.ant-typography, body .ant-typography a {
  color: #fff
}